{% extends 'base.html.twig' %}

{% block title %}Client{% endblock %}

{% block body %}
    <div class="row">
        <div class="offset-4 col-4">
            <h1>Info Client {{ client.nom }}</h1>
        </div>
    </div>

    <div class="row ">
        <div class="col-6 offset-3 d-flex align-items-center justify-content-center">
            <a class="btn btn-primary" href="{{ path('app_client_index') }}">Retour à la liste</a>

            {{ include('client/_delete_form.html.twig') }}

            <a class="btn btn-warning" href="{{ path('app_client_edit', {'id': 'id'}) }}">Modifier</a>

            <a class="btn btn-success" href="{{ path('app_contract_newWithClient', {'id': client.id}) }}">Rajouter un contrat </a>
        </div>

    </div>






    <section>
        <article>
            <table class="table">
                <tbody>
                <tr>
                    <th>Prenom du contact</th>
                    <td>{{ client.prenom }}</td>
                </tr>
                <tr>
                    <th>Nom du contact</th>
                    <td>{{ client.nom }}</td>
                </tr>
                <tr>
                    <th>Entreprise</th>
                    <td>{{ client.entreprise }}</td>
                </tr>
                <tr>
                    <th>Mail</th>
                    <td>{{ client.mail }}</td>
                </tr>
                <tr>
                    <th>Telephone</th>
                    <td>{{ client.telephone }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ client.adresse }}, {{ client.CodePostal }} {{ client.ville }}</td>
                </tr>

                <tr>
                    <th>NotePerso</th>
                    <td>{{ client.notePerso }}</td>
                </tr>
                </tbody>
            </table>
        </article>
        <article style="margin-top: 20px;">
            <div class="row">
                <div class="div"><div class="col-4 offset-4">            <h3> Contrat du client</h3>
                    </div></div>
            </div>
            <div class="row">
                {% for contrat in contrats %}
                    <div class="col-4">


                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <p class="card-text">{{ contrat.mission }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item"><p style="font-weight: bold"> Début du contrat</p>
                                    <p>{{ contrat.createdAt | date('d/m/Y') }}</p></li>
                                <li class="list-group-item"><p style="font-weight: bold"> Fin du contrat</p>
                                    <p>{{ contrat.finishedAt | date('d/m/Y') }}</p></li>
                                <li class="list-group-item"><p style="font-weight: bold"> Note Personelle</p>
                                    <p>{{ contrat.noteperso }}</p></li>
                                <li class="list-group-item">
                                    <a class="btn btn-primary" href="{{ path('app_contract_edit', {'id': contrat.id}) }}">edit</a>

                                    {{ include('contract/_delete_form.html.twig') }}</li>
                            </ul>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </article>
    </section>
{% endblock %}
